<nav class="navbar navbar-expand-lg navbar-dark bg-dark main-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" alt="" class="logo">
    </a>
    <button tton class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
      aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">
            <span class="material-icons">
              home
            </span>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies" routerLinkActive="active">
            <span class="material-icons">
              movie_creation
            </span>
            Movies
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-in" routerLinkActive="active">
            <span class="material-icons">
              input
            </span>
            Sign in
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
