<div class="slick-wrapper">

  <!-- You can now use your library component in app.component.html -->
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let item of items" class="slide">
      <img src="https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{item.backdrop_path}}">
      <div class="cover-details-movie-slider">
        <div>
          <h2 class="title">{{item.title}}</h2>
          <p class="overview">{{item.overview}}</p>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>

</div>
