.main-navbar {
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          display: flex;
          align-items: center;
          .material-icons {
            font-size: 1em;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
