.slick-wrapper {
  width: 100%;
  margin: auto;
  position: relative;

  .slick-slider {
    .slick-arrow {
      top: 50%;
      display: flex;
      z-index: 9999;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      align-items: center;
      box-shadow: 0 0 10px #000;
      transform: translateY(-50%);
      background-color: $color-white;

      .material-icons {
        font-size: 3em;
        color: $color-blue;
      }

      &.prev-slide {
        left: 10px;
      }

      &.next-slide {
        right: 10px;
      }
    }

    .slick-slide {
      height: 480px;
      position: relative;

      img {
        z-index: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        position: relative;
        object-position: center;
      }

      .cover-details-movie-slider {
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        color: $color-white;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: rgba($color-black, 0.8);
        >div {
          width: 100%;
          margin: auto;
          max-width: 640px;
        }
        .title {
          font-size: 1.7em;
        }
        .overview {
          font-size: .9em;
          line-height: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: black !important;
  }

}
