<div class="movie-banner"
  style='background-image: url("https://image.tmdb.org/t/p/w1920_and_h800_multi_faces{{movie.backdrop_path}}");'>
  <div class="cover-details">
    <div class="row">
      <div class="col col-sm-12 col-md-4 col-lg-3">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{movie.title}}" class="movie-poster">
      </div>
      <div class="col col-sm-12 col-md-8 col-lg-9">
        <h1 class="movie-title">
          {{movie.title}}
          <em>{{movie.tagline}}</em>
        </h1>
        <div class="pt-2 cover-companies">
          <article *ngFor="let company of movie.production_companies">
            <div class="company-logo" *ngIf="company.logo_path">
              <img src="https://image.tmdb.org/t/p/w500/{{company.logo_path}}" alt="{{movie.title}}">
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
