.movie-banner {
  padding: 20px 10px;
  min-height: 320px;
  position: relative;
  background-size: cover;
  background-position: center;

  &:after {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, transparent, black);
  }

  .cover-details {
    z-index: 1;
    position: relative;

    .movie-poster {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }

    .movie-title {
      color: #fff;

      em {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        opacity: .78;
      }
    }

    .cover-companies {
      display: flex;
      flex-wrap: wrap;

      .company-logo {
        padding: 5px;
        height: 64px;
        border-radius: 5px;
        background-color: #fff;

        img {
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
    }
  }
}
