<div class="row py-5">
	<h2 class="text-center">
		Hello from sign in page
	</h2>
	<div class="form col-sm-12 col-md-8 col-lg-4 m-auto">
		<div class="mb-2">
			<label for="email" class="form-label">Email</label>
			<input type="email" class="form-control">
		</div>
	</div>
</div>
