<app-slider [items] = "popularMovies"></app-slider>

<div class="container py-5 mb-5">
  <div class="row">
    <div class="col-lg-3 col-sm-12 col-md-4" *ngFor="let movie of movies">
      <a [routerLink]="['/movies/',movie.id]" class="movie-card">
        <div class="movie-poster">
          <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="img img-responsive">
        </div>
        <div class="details">
          <div class="movie-title">
            {{ movie.title }}
          </div>
          <div class="movie-infos">
            <div class="row text-center">
              <div class="col col-xs-4">
                <h3>{{movie.original_language}}</h3>
                <i class="bi bi-translate"></i>
              </div>
              <div class="col col-xs-4">
                <h3>{{movie.vote_average}}</h3>
                <i class="bi bi-star-half"></i>
              </div>
              <div class="col col-xs-4">
                <h3>{{movie.release_date | date: "yyyy"}}</h3>
                <i class="bi bi-film"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
