.movie-card {
  width: 100%;
  height: 320px;
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  border-radius: 7px;
  transition: .3s ease all;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);

    .movie-poster {
      .img {
        transform: scale(1.2);
      }
    }

    .details {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  .movie-poster {
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    .img.img-responsive {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .3s ease all;
    }
  }

  .details {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    position: absolute;
    flex-direction: column;
    transition: .3s ease all;
    background-color: rgba(0, 0, 0, 0.5);

    .movie-title {
      font-size: 1.5em;
    }

    .movie-infos {
      margin-top: auto;

      h3 {
        font-size: 1em;
      }

      .bi {
        font-size: 1.5em;
        display: block;
      }
    }

  }
}
